<footer id="footer">
    <ul class="icons">
		<li><a href="https://github.com/danielidr" class="icon brands fa-github"><span class="label">Github</span></a></li>
	</ul>
	<ul class="copyright">
		<li>&copy; Todos los derechos reservados. Empowered by Danielid Ramirez</li>
	</ul>
</footer>